html{
	height:100%;
	width: 100%;
	background-color:black;
}
body{
	height: 100%;
	width:100%;
	background-color: green;
}
#map-canvas{
	height: 40%;
	width: 40%;
	background-color:red;
	margin:0px;
	padding:0px;
}


#panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }